.container-home{
    text-align: center;
}

.container-item-list{
    margin: 3rem ;
    display: flex;
    flex-direction: column;

}

.links-category{
    padding-left: 8rem;
}

.container-itemList{
    min-height: 50vh;
}