.container-detailInfo{
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    min-height: 20rem;
}

.container-pagos img{
    width: 15rem;
}
.container-pagos{
    display: flex;
    flex-direction: column;
}

.container-detailInfo{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin: 2rem;
}